<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%5level) %yellow([%15.15thread]) %cyan(%-40.40logger{39}) : %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT_NO_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%15.15thread] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>
   
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.classiga/logs/classiga-web/output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.classiga/logs/classiga-web/output.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>    
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%15.15thread] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender> 

    <root level="INFO">
        <if condition='property("os.name").toLowerCase().contains("windows")'>
            <then>
                <appender-ref ref="STDOUT_NO_COLOR"/>
            </then>
            <else>
                <appender-ref ref="STDOUT_COLOR"/>
            </else>
        </if>
        <appender-ref ref="FILE" />
    </root>
    
</configuration>