<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger) - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT_NO_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
         
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.classiga/logs/classiga-rest/output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.classiga/logs/classiga-rest/output.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>    
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender> 

    <logger name="org.dbunit" level="ERROR"/>
    
    <logger name="org.springframework.beans.factory.support" level="ERROR"/>
    <logger name="org.springframework.context.event" level="ERROR"/>
    
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR"/>
    <logger name="org.hibernate.tool.schema.internal.ExceptionHandlerLoggedImpl" level="ERROR"/>
    <logger name="org.hibernate.engine.jdbc.env.internal" level="ERROR"/>
    <logger name="org.hibernate.boot.registry.selector.internal" level="ERROR"/>
    <logger name="org.hibernate.persister.walking.spi" level="ERROR"/>
    <logger name="org.hibernate.loader.plan.build.spi" level="ERROR"/>
    <logger name="org.hibernate.loader.plan.exec.internal" level="ERROR"/>
    <logger name="org.hibernate.loader.plan.build.internal" level="ERROR"/>
   
    <root level="DEBUG">
        <if condition='property("os.name").toLowerCase().contains("windows")'>
            <then>
                <appender-ref ref="STDOUT_NO_COLOR"/>
            </then>
            <else>
                <appender-ref ref="STDOUT_COLOR"/>
            </else>
        </if>
        <appender-ref ref="FILE" />
    </root>
    
</configuration>