.font-primary {
    color: #673AB7;
}
.font-default {
    color: #777;
}
.font-info {
    color: #2196F3;
}
.font-danger {
    color: #F44336;
}
.font-warning {
    color: #FF9800;
}
.font-success {
    color: #4caf50;
}
.uppercase {
    text-transform: uppercase;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.table > tbody > tr > td.text-right-body {
    text-align: right;
}
.table > tbody > tr > td.text-center-body {
    text-align: center;
}
.table > thead > tr > th.text-right-head {
    text-align: right;
}
.table > thead > tr > th.text-center-head {
    text-align: center;
}
.sidebar-menu .treeview-menu > li > a:hover, 
.sidebar-menu .treeview-menu > li.active > a {
    color: #d199ff;
}
.form-inline .btn {
    padding: 8px 12px;
}
.btn {
    padding: 8px 12px;
}
.table-data-info {
    margin-top: 12px;
}
.table {
    margin-bottom: 0;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: middle;
}
table.dataTable tbody td {
    vertical-align: middle;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}
div.required .control-label:not(span)::before, td.required::before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
.table thead th span[data-toggle="tooltip"]:after,
.table thead td span[data-toggle="tooltip"]:after, 
label.control-label span:after {
    font-family: FontAwesome;
    color: blue;
    content: "\f059";
    margin-left: 4px;
}
.animated-checkbox label {
    margin-bottom: 0;
}
.card .overlay {
    z-index: 9999;
}
ul.pagination {
    margin: 0;
    white-space: nowrap;
}
ul.pagination > li > a, .pagination > li > span {
    margin-bottom: 5px;
}
.sweet-overlay {
    background-color: rgba(0,0,0,0.5);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ccc;
}
.has-error .select2-container--default .select2-selection--single {
    border-width: 2px;
    border-color: #a94442;
}
.form-control[readonly] {
    background-color: #fff;
}
.main-header .top-nav .settings-menu li a {
    text-transform: none;
}
.login-content .login-box .login-form, .login-content .login-box .forget-form {
    position: relative;
}
